.container{
  width: 80%;
  margin:  auto;
  padding-top: 3px;
  padding-bottom: 10px;
  line-height: 1.5;
  color: $font;

  p{
    font-family: $fontset2;
  }

  h1,
  h4{
    font-family: $fontset1;
  }

}

.headline--secondary{
  font-weight: 200;
  margin-bottom: 1.33em;
  text-align: left;

  @include mq(desktop){
    margin-top: 0;
  }
}

.headline--primary{
  color: $theme;
  padding-left: 5px;
}

.link{
  color: $accent;
}

.blockquote{
  border-left: 8px solid $theme;
  padding-left: 1em;
  border-radius: $border-rad;
}
